/* ANCHOR ROOT VARIABLES */

:root {
  --blood-red: #dc3545;
}

/* ANCHOR ELEMENTS */

/* ANCHOR CLASSES */

.header-link-buttons {
  background-color: transparent;
  border-color: transparent;
}

.header-section {
  margin-right: 5rem;
}

.hero-section {
  margin-right: 5rem;
}

.barracuda-man {
  min-height: 500px;
}

.hero-slide {
  bottom: 230px;
  position: absolute;
}

.hero-slide-icons {
  bottom: 2rem;
}

.flex-dir {
  flex-direction: column;
}

.slide-height {
  min-height: 20dvh;
}

.hero-text-fs {
  font-size: 1.5rem;
}

.slide-icon-size {
  font-size: 3rem;
}

.block-display {
  display: block;
}

.card-bg {
  background-color: var(--blood-red);
}

.slide-width {
  min-width: 30dvw;
}

.theme-color {
  color: var(--blood-red);
}

.margin-right {
  margin-right: 5rem;
}

.margin-left {
  margin-left: 5rem;
}

.underlines {
  min-width: 75%;
  text-align: left;
}

.mar-right {
  margin-right: 200px;
}

.align-text-center {
  text-align: center;
}

/* .row-width {
  min-width: 100dvw;
} */

/* .padding-all {
  padding: 5rem;
} */

/* .justify-content-around {
  justify-content: space-around;
} */

.karantina-light {
  font-family: "Karantina", serif;
  font-weight: 300;
  font-style: normal;
}

.karantina-regular {
  font-family: "Karantina", serif;
  font-weight: 400;
  font-style: normal;
}

.karantina-bold {
  font-family: "Karantina", serif;
  font-weight: 700;
  font-style: normal;
}

.about-us {
  margin-top: 200px;
}

.corner-rounded {
  border-radius: 15%;
}

/* .shark-border {
  border: 2px solid black;
} */

.top-padding {
  padding-top: 50px;
}

.backg-color {
  background-color: #212529;
}

.no-border {
  border: 0;
}

/* ANCHOR MEDIA */
@media screen AND (max-width: 767.98px) {
  .mobile-padding-adjust {
    padding-top: 2rem;
  }

  .hero-tile-bg {
    padding: 0;
  }

  .hero-tiles-adjust {
    /* top: 15rem; */
    max-width: 50dvw;
    margin: 0px;
    padding: 0;

  }

  .tile-col-height {
    max-width: 25dvw;
  }

  .hero-row {
    max-width: 100dvw;
  }

  .nav-menu {
    padding-left: 0;
    padding-right: 0;
    justify-content: end;
  }

  .margin-left {
    margin-left: 0;
  }

  .hero-slide {
    position: static;
    /* margin-top: 20px; */
  }

  .mobile-hero-margin {
    margin: 0;
  }

  .mobile-hero-padding {
    padding: 0;
  }

  .mobile-hero-adjust {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    justify-content: end;
  }

  .about-us {
    margin-top: 0;
  }

  .about-us-mar-top {
    margin-top: 200px;
  }

  .mobile-navbar {
    font-size: 20px;
  }
}